<div>
  <section>
    <app-file-filter-bar
      [sortBy]="sortBy"
      [sortOrder]="sortOrder"
      (filterChange)="onFilterChange($event)"
      (sortDirectionChange)="onSortDirectionChange($event)"
      (sortOrderChange)="onSortOrderChange($event)"
    ></app-file-filter-bar>
  </section>

  <hr />

  <section>
    <h3>Documents List</h3>
    <ul *ngFor="let file of filteredFileItems">
      <li>
        <span>{{ file.name }} - {{ file.added }}</span>
        <button *ngIf="file.type === 'folder'" (click)="onOpenFolder(file)">
          {{ file.isOpen ? "Collapse" : "Expand" }}
        </button>
      </li>

      <div *ngIf="file.type === 'folder' && file.isOpen">
        <ul *ngFor="let subFile of file.files">
          <li>
            <span>{{ subFile.name }} - {{ subFile.added }}</span>
          </li>
        </ul>
      </div>
    </ul>
  </section>
</div>
